# sphinx documentation
docs/build/
docs/modules/*.rst
docs/api-methods.rst

# is auto generated:
src/benchmarkstt/__meta__.py

# python caches and build
__pycache__
.DS_Store
*.egg-info/
build/
dist/

# editor settings
.idea


# unit test & coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

