table.docutils.option-list td:nth-child(2) {
  white-space: normal;
}

.rst-content table.docutils td {
    vertical-align: top;
}

.container.terminal {
   border: 2px solid gray;
   margin: 14px 0 14px 0;
   border-radius: 14px;
   background-color: black;
   position: relative;
   background-image: radial-gradient(#002800, black 120%);
   overflow: hidden;
   color: white;
   text-shadow: 0 0 8px #00AA00;
}

.container.terminal::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 2px);
   pointer-events: none;
}

.container.terminal::selection {
   text-shadow: none;
}

.container.terminal .line-block {
   margin-top: 14px;
   margin-bottom: 14px;
}

.container.terminal p, .container.terminal div.line {
   font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
   font-size: 12px;
   line-height: 1.4;
   color: white;
   padding: 0 12px;
   margin-bottom: 0px;
   width: auto;
   overflow-wrap: break-word;
   word-break: break-all;
}

.diffdelete {
   color: red;
}

.diffinsert {
   color: green;
}
